/* 4 boxes beneath "Dashboard" */

@mixin statistics {
  border-left: #ffffff;
  color: #ffffff;
}


/* project progress bars
@mixin progress {
  background-color:
}                     */

@mixin colors {
  background-color: #ffffff;
  
}
