/* 4 boxes beneath "Dashboard" */

@mixin statistics ($border: #fff, $color: #fff) {
  border-left: $border;
  color: $color;
}

/* padding mixin  default values are 0*/

@mixin padding ($top: 0, $right: 0, $bottom: 0px, $left: 0px) {
    padding: $top $right $bottom $left;
}

/* margin mixin default values are 0 */
@mixin margin ($top: 0, $right: 0, $bottom: 0px, $left: 0px) {
    margin: $top $right $bottom $left;
}

/* project progress bars
@mixin progress {
  background-color:
}                     */


@mixin colors ($bgcolor: #fff){
  background-color: $bgcolor;

}

@mixin collapse {
    background-color: $white;
    border-radius: 5px;
    @include margin ($right: 20px);
    h6 {
        color: grey;
        @include margin ($left: 20px);
        @include padding ($top: 10px, $bottom: 10px);
    }
    .collapse-item {
        @include collapse-items;
    }
}

@mixin collapse-items {
    display: flex;
    color: #000;
    text-decoration: none;
    @include margin($left: 15px, $right: 20px, $bottom: 10px);
    @include padding ($top: 10px, $left: 5px, $bottom: 10px);
    &:hover{
        background-color: grey;
        border-radius: 5px;
    }
}