/* 4 boxes beneath "Dashboard" */

@mixin statistics ($border: #fff, $color: #fff) {
  border-left: $border;
  color: $color;
}


/* project progress bars
@mixin progress {
  background-color:
}                     */

@mixin colors ($color: #fff){
  background-color: $color;
}
