@import "variables";
@import "reset";
@import "components";
@import "mixin";


.main-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "sidebar navbar"
        "sidebar content";
}

.sidebar {
    grid-area: sidebar;
    background-color: $primary;
    color: $background;
    list-style: none;
    .link-sb{
        color: $white;
        @extend %sidebar;
        font-size: 28px;
        @extend %links;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-laugh-wink {
            font-size: 38px;
            transform: rotate(-20deg);
            @include padding ($right: 20px);
        }
    }
    .dashboard {
        @extend %sidebar;
        .dashboard-link{
            @extend %links;
            color: $white;
        }
    }
    .sidebar-header {
        @include margin ($top: 20px, $left: 20px);
    }
    .components{
        @include margin ($top: 10px, $left: 17px);
        .components-link{
            @extend %links;
            
        }
        .collapse-components {
             @include collapse;
            
        }
    }
    .utilities {
        @extend %sidebar;
        
        .utilitie-link {
            @extend %links;
        }
        .utility-style {
            @include collapse;
        }
    }
    .addon-header {
        @include margin ($top: 20px, $left: 20px);
    }
    .pages {
       @include margin ($top: 10px, $left: 17px); 
        .pages-link {
            @extend %links;
        }
        .page-style {
            @include collapse;
        }
    }
    .charts{
         @include margin ($top: 20px, $left: 20px);
        .charts-link {
            @extend %links;
        }
    }
    .tables {
         @include margin ($top: 20px, $left: 20px);
        .tables-link {
            @extend %links;
        }
    }
    
    
}

.topnav {
    grid-area: navbar;
}
.main-container {
    grid-area: content;
}
